@import 'src/styles/global.scss';

.footer {
  margin-top: 30px;
  .footer_container {
    @extend %container;
    background-color: $color_type_2;
    border-radius: 30px 30px 0px 0px;
    .footer_link {
      display: flex;
      flex-direction: column;
    }

    .logo {
      width: 150px;
      height: 100px;
      background-color: $color_type_1;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color_type_2;
    }

    .col {
      height: 125px;
      display: flex;
      flex-direction: column;
    }

    .col_logo {
      justify-content: center;
      align-items: center;
    }

    .col_link {
      justify-content: center;
      font-style: normal;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $color_type_1;
      cursor: pointer;
    }
    .footer_link {
      li {
        margin-bottom: 3px;
        &:hover {
          @extend %link_hover;
        }
        &:active {
          @extend %link_active;
        }
      }
    }
    .footer_text {
      height: fit-content;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      opacity: 0.6;
      justify-content: flex-end;
      color: $color_type_1;
    }
  }
}
