@import 'src/styles/global.scss';
.container {
  * {
    cursor: pointer;
  }
  min-height: 80px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: $effect;

  .img_block {
    margin: 0 auto;
    width: 60%;
    height: 50%;
    margin-bottom: 10px;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  :global(.ant-divider) {
    margin: 10px 0px;
  }

  .block_content {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    .title_content {
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 30px;
    }

    .price_content {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }

    .volume_content {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .functional__block {
    display: grid;
    grid-template-columns: 1fr 90px;
    align-items: center;

    :global(.ant-btn) {
      min-height: 30px !important;
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: $primary;
        }
      }
      &:hover {
        svg {
          transition: $effect;
          width: 20px;
          height: 20px;
          path {
            fill: $color_type_1;
          }
        }
      }
      &:active {
        svg {
          transition: $effect;
          width: 20px;
          height: 20px;
          path {
            fill: $color_type_1;
          }
        }
      }
    }

    .adding_functional {
      display: flex;
      align-items: center;
    }

    .count {
      padding: 5px 10px;
      background-color: $primary;
      border-radius: 5px;
      margin-right: 5px;
      font-weight: 700;
    }

    .svg {
      transform: $effect;
      &:hover {
        svg {
          path {
            transform: $effect;
            fill: $primary;
          }
        }
      }
      &:active {
        svg {
          path {
            transform: $effect;
            fill: $primary;
          }
        }
      }
    }
  }

  h2,
  h3 {
    text-align: center;
  }

  &:hover {
    border: 1px solid;
    border-color: $primary;
    transition: $effect;
  }
}
