@import 'src/styles/global.scss';
.modal {
	* {
		cursor: pointer;
	}
	:global(.ant-modal-content) {
		min-height: 200px;
		box-shadow: 0px 9px 46px 5px rgba($primary, 0.5);
	}

	:global(.ant-modal-close) {
		&:hover {
			background-color: inherit;
		}
		&:active {
			background-color: inherit;
		}
		&:focus {
			background-color: inherit;
		}
	}

	:global(.ant-modal-close-icon) {
		font-size: 25px;
		&:hover {
			color: $color_type_1;
		}
		&:active {
			color: $color_type_1;
		}
	}

	.title {
		font-size: 25px;
	}

	.sub_title {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.block {
		margin-bottom: 10px;
	}

	.descriptions {
		border: 1px solid rgba(#000, 0.3);
		border-radius: 10px;
		padding: 10px;
	}

	.price {
		font-size: 20px;
		font-weight: 700;
	}

	.disable {
		background-color: rgba(#000, 0.4) !important;
		color: #fff !important;
	}
}

.modal_card {
	.modal_card_imgs {
		width: 100%;
		height: 300px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.block_informs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		.span_block {
			grid-column: span 2;
		}
	}

	.block_adding {
		margin: 15px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0px 10px;

		svg {
			font-size: 25px;
		}
		margin: 20px 0px;
	}

	.block__price {
		justify-self: flex-end;
	}

	.count {
		padding: 10px 22px;
		background-color: $primary;
		border-radius: 10px;
		font-size: 20px;
		font-weight: 700;
		color: $color_type_1;
	}
}

.modal_authentically {
	.title_authentically {
		margin-top: 50px;
		margin-bottom: 20px;
		text-align: center;
	}
	.title_input {
		margin-bottom: 10px;
		margin-left: 10px;
	}
	.form {
		margin-bottom: 20px;
		.btn_form {
			margin-top: 20px;
		}
	}

	.btn_change {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

.modal_news {
	.content {
		padding: 30px;
		display: flex;
		align-items: center;

		.title {
			margin-bottom: 10px;
		}

		.info {
			margin-bottom: 15px;
			word-break: break-all;
		}

		.data {
			text-align: end;
			opacity: 0.8;
		}
	}
	.content_img {
		width: 100%;
		height: 300px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30px;
		}
	}
}

.modal_rating {
	padding: 20px;
	.rating_main {
		margin-top: 30px;
		display: grid;
		grid-template-columns: 80px 1fr;
		margin-bottom: 15px;
		gap: 0px 15px;
		min-height: 80px;
	}
	.rating_number {
		background-color: $primary;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;

		h2 {
			font-size: 30px;
		}

		svg {
			font-size: 30px;
		}
	}

	.rating_info_list {
		display: flex;
		flex-direction: column;
		gap: 10px 0px;
		background-color: $primary;
		border-radius: 30px;
		padding: 20px;
	}

	.rating_elem {
		display: flex;
		align-items: center;

		svg {
			font-size: 30px;
			margin-right: 10px;
		}
	}

	.comment {
		h3 {
			margin-bottom: 10px;
			font-size: 20px;
		}
		p {
			font-weight: 400;
			word-break: break-all;
			margin-bottom: 20px;
		}
	}
}
